<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<footer th:fragment="footerFragment" class="border-t-2 border-cf-dark-red-200 p-4">
    <div class="flex flex-wrap justify-between items-center p-4">
        <div class="flex justify-start items-center gap-4">
            <a href="">
                <span class="text-cf-dark-red-100"><i class="fa-brands fa-facebook-f"></i></span>
            </a>
            <a href="">
                <span class="text-cf-dark-red-100"><i class="fa-brands fa-instagram"></i></span>
            </a>
            <a href="">
                <span class="text-cf-dark-red-100"><i class="fa-brands fa-linkedin-in"></i></span>
            </a>
            <a href="">
                <span class="text-cf-dark-red-100"><i class="fa-brands fa-x-twitter"></i></span>
            </a>
        </div>
        <div class="text-end">
            <span class="text-sm">Copyright © 2025, <span class="text-cf-dark-red-200">Nikolaos Theofanis</span></span>
        </div>

    </div>
</footer>
</body>
</html>