<!DOCTYPE html>
<html lang="el" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment(title)">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link rel="icon"
          type="image/vnd.microsoft.icon"
          th:href="@{/img/favicon.ico}"
    />
    <title th:text="${title}"></title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
    />
    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/mobileNav.js}"></script>
    <script th:src="@{/js/teachers.js}"></script>
    <style type="text/tailwindcss">
        @theme {
          --color-cf-dark-red-100: #762124;
          --color-cf-dark-red-200: #5c1a1a;
        }
    </style>
</head>
</html>