<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<head th:replace="~{fragments/head :: headFragment('Dashboard | Coding Factory', ~{})}">
</head>
<body>
<header th:replace="~{fragments/header :: headerFragment('Coding Factory - Dashboard')}"></header>
<main class="w-full min-h-[95vh] px-4">
    <span class="block text-center text-2xl font-thin tracking-widest mt-12 mb-4">Ποιότητα στην Εκπαίδευση</span>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 md:p-8">

        <!-- ΚΑΘΗΓΗΤΕΣ -->
        <div class="flex flex-col justify-start space-y-3 p-4 border rounded-lg shadow-md bg-white">
            <div class="flex items-center gap-2">
                <i class="fa-solid fa-chalkboard-user text-cf-dark-red-100 text-xl"></i>
                <span class="text-lg font-bold">Μητρώο Καθηγητών</span>
            </div>
            <div class="flex flex-col space-y-2">
                <span>Φόρμα προβολής καθηγητών Coding Factory</span>
                <a th:href="@{/school/dashboard/teachers}"
                   class="max-w-[160px] text-center text-white text-sm px-6 py-3 rounded bg-cf-dark-red-200 hover:bg-cf-dark-red-100 transition">
                    Συνέχεια
                </a>
            </div>
            <div sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')" class="flex flex-col space-y-2">
                <span>Φόρμα εισαγωγής καθηγητή στο μητρώο καθηγητών του Coding Factory</span>
                <a th:href="@{/school/dashboard/teachers/teacher/insert}"
                   class="max-w-[160px] text-center text-white text-sm px-6 py-3 rounded bg-cf-dark-red-200 hover:bg-cf-dark-red-100 transition">
                    Συνέχεια
                </a>
            </div>
        </div>

        <!-- ΜΑΘΗΤΕΣ -->
        <div class="flex flex-col justify-start space-y-3 p-4 border rounded-lg shadow-md bg-white">
            <div class="flex items-center gap-2">
                <i class="fa-solid fa-user-graduate text-cf-dark-red-100 text-xl"></i>
                <span class="text-lg font-bold">Μητρώο Μαθητών</span>
            </div>
            <div class="flex flex-col space-y-2">
                <span>Φόρμα προβολής μαθητών Coding Factory</span>
                <a th:href="@{/school/dashboard/students}"
                   class="max-w-[160px] text-center text-white text-sm px-6 py-3 rounded bg-cf-dark-red-200 hover:bg-cf-dark-red-100 transition">
                    Συνέχεια
                </a>
            </div>
            <div sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')" class="flex flex-col space-y-2">
                <span>Φόρμα εισαγωγής μαθητή στο μητρώο μαθητών του Coding Factory</span>
                <a th:href="@{/school/dashboard/students/student/insert}"
                   class="max-w-[160px] text-center text-white text-sm px-6 py-3 rounded bg-cf-dark-red-200 hover:bg-cf-dark-red-100 transition">
                    Συνέχεια
                </a>
            </div>
        </div>

        <!-- ΧΡΗΣΤΕΣ -->
        <div sec:authorize="hasAuthority('ADMIN')" class="flex flex-col justify-start space-y-3 p-4 border rounded-lg shadow-md bg-white">
            <div class="flex items-center gap-2">
                <i class="fa-solid fa-users-gear text-cf-dark-red-100 text-xl"></i>
                <span class="text-lg font-bold">Διαχείριση Χρηστών</span>
            </div>
            <div class="flex flex-col space-y-2">
                <span>Πίνακας ενεργών και ανενεργών χρηστών</span>
                <a th:href="@{/admin/panel/users}"
                   class="max-w-[160px] text-center text-white text-sm px-6 py-3 rounded bg-cf-dark-red-200 hover:bg-cf-dark-red-100 transition">
                    Συνέχεια
                </a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>