<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<head th:replace="~{fragments/head :: headFragment('H σελίδα δεν βρέθηκε | Coding Factory', ~{})}">
</head>
<body>
<header th:replace="~{fragments/header :: headerFragment('Coding Factory - Error')}"></header>
<main class="w-full min-h-[95vh]">
  <div th:replace="~{fragments/error-card :: errorCardFragment('Η σελίδα που αναζητάτε δεν βρέθηκε.')}"></div>
</main>
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>